{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }
{%- endstyle -%}


<section class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <h1 class="page-name">{{ collection.title | escape }}</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ routes.root_url }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ collection.title | escape }}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="products section">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="widget">
            <h4 class="widget-title">Sort By</h4>
          </div>
          {% for link in linklists[settings.category].links %}
            {% if link.links != blank %}
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5>
                  <a href="" class="{% if forloop.index != 1 %} collapsed {% endif %}" data-toggle="collapse" data-target="#collapse-{{ link.title }}" aria-expanded="true" aria-controls="collapse-{{ link.title }}">
                    {{ link.title }}
                  </a>
                </h5>
              </div>

              <div id="collapse-{{ link.title }}" class="collapse {% if forloop.first %} show {% endif %} " aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <ul class="list-unstyled">
                  {% for childlink in link.links %}
                    <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
                  {% endfor %}  
                  </ul>
                </div>
              </div>
            </div>
            {% else %}
              <div class="card">
                <div class="card-header" id="heading-{{ link.url }}">
                  <h5>
                    <a href="{{ link.url }}" class="no-icon">
                      {{ link.title }}
                    </a>
                  </h5>
                </div>              
              </div>
              {% endif %}
            {% endfor %}                        
          </div>
        </div>
        </div>

        <div class="col-md-9">
          <div class="row">
            {% for product in collection.products %}
            <div class="col-md-4">
              <div class="product-item">
                <div class="product-thumb">
                  <img class="img-responsive" src="{{ product.featured_image | img_url: '1920x' }}" alt="product-img">
                  <div class="preview-meta">
                    <ul>
                      <li>
                        <a href="{{ product.url }}"><i class="fa fa-search"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-heart-o"></i></a>
                      </li>
                      <li>
                        <form id="form-{{ product.handle }}" method="POST" action="/cart/add">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                          <a onclick="document.getElementById('form-{{ product.handle }}').submit()"><i class="fa fa-shopping-cart"></i></a>
                        </form> 
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-content">
                  <h4><a href="{{ product.url }}">{{ product.title }}</a></h4>
                  <p class="price">{{ product.price | money }}</p>
                </div>
              </div>
            </div>
            {% endfor %}            
          </div>
        </div>
      </div>
    </div>
  </section>


<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient">
  <div class="collection-hero__inner page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%}
    </div>

    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="collection-hero__image-container media gradient">
        <img
          srcset="
            {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ collection.image | image_url }} {{ collection.image.width }}w
          "
          src="{{ collection.image | image_url: width: 750 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt=""
          width="{{ collection.image.width }}"
          height="{{ collection.image.height }}"
        >
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ]
}
{% endschema %}
